@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.eventos-registro {
    @include m.contenedor;


    @include m.tablet {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
    }

    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }

    &__grid {
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__heading {

        &--conferencias, &--workshops {
            white-space: nowrap;
            @include m.texto-fluido(2rem, 5rem);
        }
        &--conferencias {
            color: v.$azul;
        }

        &--workshops {
            color: v.$secundario;
        }
    }

    &__fecha {
        margin: 6rem 0 3rem 0;
    }
}



.registro {

    background-color: v.$gris-claro;
    padding: 3rem;
    border-radius: 3rem;
    
    @include m.tablet {
        flex: 0 0 40%;
        //Para cuando haga scroll se persiga el TU REGISTRO
        position: -webkit-sticky;
        position: sticky;
        top: 2rem;    
        //Ve donde esta la tablet de eventos-registros y coloca el align items
    }

    &__heading {
        margin: 0 0 3rem 0;
    }
}